.post-head{
	color: #000;
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	font-weight: bolder;
}
.post-time{
	color:#b9b9b9;
	padding:35px  0;
}
.post-content{
	font-size: 16px;
	line-height: 28px;
/*	width: 546px;*/
}

.post-content p {
	color: #3b3b3b;
	margin-top: 16px;
}
.post-content img {
width:540px;
display: block;
margin: 28px auto;
border: #fff solid 5px;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
box-shadow: 0px 0px 3px rgba(0,0,0,.5);
behavior: url(PIE.htc);
}