.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	/*height: 15px;*/
}
.artical-latest{
	width:100%;
	margin-top:30px;
	margin-left: 20%;
	/*background:#777;*/
}
.latest-img{
	margin:0 20px 0 0;
	border:1px solid #777;
	float:left;
	width:140px;
	height:100px;
	box-sizing:border-box;
}
.latest-text{
	width:375px;
	float:left;
	position:relative;
	margin-right:-5px;
	max-height:150px;
}
.latest-head{
	max-height:50px;
	overflow:hidden;
}
.latest-head a {
	width: 375px;
	margin-right: -5px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
	line-height: 24px;
}
.latest-author {
	margin: 5px 0;
}
.latest-author a {
	font-size: 13px;
	color: #E7A153;
	text-decoration: none;
	line-height: 24px;
}
.latest-abstract {
	overflow: hidden;
	position: relative;
	z-index: 1;
	max-height: 100px;
	font-size: 15px;
	color: #777;
	text-decoration: none;
	line-height: 24px;
}
.pagination {
	color: #b9b9b9;
	font-color: #b9b9b9;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	padding: 40px 20px 20px 45px;
}
.pagination .page-numbers:after {
	padding-left: 9px;
	content: '|';
	display: inline-block;
	padding-right: 9px;
}
a.next.page-numbers:after {
	content: '';
	width: 0;
	height: 0;
	margin-bottom: -2px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #b9b9b9;
}
.pagination a {
	color: #b9b9b9;
}
.pagination .current {
	color: #E7A153;
	font-weight: bold;
}

.pagination .last-number:after {
		content: '';
}